$cor-padrao: rgb(233, 233, 233);

.borda{
    border: 10px solid $cor-padrao;
}

.cabecalho{
    padding-top: 10%;
}

h1{
    font-style: initial;
}

article{
    h1{
        font-style: oblique;
        font-size: 25px;
    }
}